body {
  background-color: #1b8391; 
  /* 
  #1B8391
  #324B4F
  #95B0B5 Unfreeze pallette
  #7F709E
  #4D406B
  */
  margin: 0;
  padding: 0;
}

h1 {
  color: #b3d6dd; /* made lighter than pallete for contrast */
  size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding: 20px;
}

.button-container {
  display: flex;      
  justify-content: center;
}
