.noteCard {
    cursor: default;
    width: 450px;
    height: 250px;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.noteCard, .noteCard * {
    cursor: default;
  }
  
.noteCard:hover {
    transform: scale(1.05);
}

.content {
    padding: 10px;
    text-align: center;
}
