.noteCard {
    cursor: pointer;
    width: 100%; /* Make width responsive */
    max-width: 450px; /* Maximum width */
    height: 250px;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  @media (max-width: 500px) {
    .noteCard {
      width: 90%; 
      height: auto; 
      margin: 10px auto;
      padding: 20px;
    }
  }
.noteCard, .noteCard * {
    cursor: default;
  }
  
.noteCard:hover {
    transform: scale(1.05);
}

.content {
    padding: 10px;
    text-align: center;
}
